{% for feature in h.get_homepage_resource_views() %}
  <div class="row-fluid">
      <div class="span12">
          <div class="well">
              <h2 style="margin-bottom:0; position: absolute;">
                  {{ h.link_to(h.truncate(feature['package']['title'], 30), h.url_for(controller='package', action='read', id=feature['package']['name'])) }}
              </h2>
              {% snippet 'package/snippets/resource_view.html',
                  resource_view = feature['resource_view'],
                  resource = feature['resource'],
                  package = feature['package']
              %}
          </div>
      </div>
  </div>
{% endfor %}
