<div role="main" class="hero">
    <div class="container">
        {% block search %}
        {% snippet 'home/snippets/search.html' %}
        {% endblock %}
    </div>
</div>
<div role="main">
    <div class="container">
        {% for feature_row in h.get_homepage_resource_views() | batch(2) %}
          <div class="row-fluid">
              {% for feature in feature_row %}
              <div class="span6">
                  <div class="well">
                      <h2 style="margin-bottom:0; position: absolute;">
                          {{ h.link_to(h.truncate(feature['package']['title'], 30), h.url_for(controller='package', action='read', id=feature['package']['name'])) }}
                      </h2>
                      {% snippet 'package/snippets/resource_view.html',
                          resource_view = feature['resource_view'],
                          resource = feature['resource'],
                          package = feature['package']
                      %}
                  </div>
              </div>
              {% endfor %}
          </div>
        {% endfor %}
    </div>
</div>
